* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    overflow: hidden;
}

h2 {
    text-align: center;
    color: #24a0ed;
}

.container {
    width: 400px;
    margin: 15rem auto;
}

input {
    width: 400px;
    height: 3rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 1px solid rgb(206, 206, 206);
    outline: none;
    color: #24a0ed;
    padding-left: 0.5rem;
}

.list {
    max-width: 100%;
    max-height: 100%;
    width: 80rem;
    height: 30rem;
    
}

.list::-webkit-scrollbar {
    width: 10px;
}

.list > div {
    color: #24a0ed;
    font-size: 1.275rem;
    margin-bottom: 0.875rem;
    display: flex;
    border-bottom: 1px solid rgb(206, 206, 206);
    padding-bottom: 0.875rem;
    animation: myanimation 0.5s;
    
}

.list > div::after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid rgb(206, 206, 206);
    justify-content: center;
    align-items: center;
    margin-left: calc(400px - 20px);
    position: absolute;
    cursor: pointer;
    transition: 0.5s;


}

.list > div:hover:after {
    
    background-color: #24a0ed;
    border: 2px solid #fff;
    box-shadow: 0 0  3px #24a0ed;
}

input:focus {
    border-color: #24a0ed;
    transition: .5s;
    box-shadow: 0 0  10px #24a0ed;
    
}

@keyframes myanimation {
    from {
        opacity: 0;
        transform: translateY(-50px);
    } 
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
